
body{
    background: #000;
    font-family: Arial, Helvetica, sans-serif;
    
}
#movie-backdrop {
    width: 100%;
}

.mov{
    width: 327px;
    height: 408px;
}

.actor{
    width: 250px;
    height: 270px;  
}

.actor img{
    height: 250px;
    max-width: 100%;
    width: 250px;
}

.mov img{
    height: 340px;
    max-width: 100%;
}



.imageMovieSingle img{
    width:480px;
    height:200px;
    max-width: 100%;
}

.overview{
    max-height: 100%;
    transform: translateY(100%);
    transition:transform 0.5s ease-in-out;
}

.mov:hover .overview{
    transform: translateY(0)
}
.vote{
    padding: 0.25rem 0.25rem;
    border-radius: 3px;
    font-weight: bold;
    font-size: 15px;
    width: 33px;
    text-align: center;
}


#actors {
    margin: 24px 16px 0 0;
}

.info{
    width: 944px;
}

