@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root{
    --md-dark-color: #1d1d1d;
    --dark-color: #171717;
    --light-dark-color: #292929;
    --yellow-color: #d4aa11;
}



#movie-backdrop {
    width: 100%;
}

#actors {
    margin: 24px 16px 0 0;
}
.collapsible {
    /* background-color: #777; */
    color: white;
    cursor: pointer;
    /* padding: 18px; */
    /* width: 40%; */
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    /* float: right; */
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 40px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    color: #d4aa11;
  }

body{
    font-family: 'Inter', sans-serif;
    /* background-color: #292929; */
    /* padding-top: 8px; */
}


.movie-poster {
    max-width: 500px;
    margin: 0 auto;
    border: 4px solid #fff;
}

.movie-info{
    text-align: center;
    color: #fff;
    padding-top: 3rem;
}

#movie-title{
    font-size: 2rem;
    color: var(--yellow-color);
}

.movie-misc-info{
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem;
}

.movie-info .movie-release-date{
    background-color: var(--yellow-color);
    padding: 0.4rem;
    margin: 0 0.4rem;
    border-radius: 3px;
    font-weight: 600;
}

.movie-info .Movie-rate{
    background-color: var(--yellow-color);
    padding: 0.4rem;
    margin: 0 0.4rem;
    border-radius: 3px;
    font-weight: 600;
}
.movie-info .Movie-genre{
    background-color: var(--yellow-color);
    padding: 0.4rem;
    margin: 0 0.4rem;
    border-radius: 3px;
    font-weight: 600;
}

.movie-info .Movie-lang{
    color: var(--yellow-color);
    font-style: italic;
}
.movie-info #movie-runtime {
    color: var(--yellow-color);
    font-style: italic;
}
.movie-info #movie-adult {
    color: var(--yellow-color);
    font-style: italic;
}

.actor{
    color: #fff;
}

@media(min-width: 800px){

    .movie-info{
        text-align: left;
        padding-top: 0;
    }
    .movie-info .movie-misc-info{
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        padding-left: 0;
    }
}


@media(max-width: 450px){
    .movie-misc-info{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .movie-misc-info li:nth-child(2){
        margin: 0.8rem 0;
    }
}

.iframe-trailer {
    max-width: 500px;
    margin: 0 auto;
    border: 4px solid #fff;
}
.trailer-title{ font-size: 2rem;
    color: var(--yellow-color);
    text-align: center;

}